@font-face {
  font-family: montreal-bold;
  src: url(fonts/NeueMontreal-Bold.otf);
}
@font-face {
  font-family: montreal-bold-italic;
  src: url(fonts/NeueMontreal-BoldItalic.otf);
}
@font-face {
  font-family: montreal-light;
  src: url(fonts/NeueMontreal-Light.otf);
}
@font-face{
  font-family: montreal-light-italic;
  src:url(fonts/NeueMontreal-LightItalic.otf)
}

*{
  font-family: 'montreal-bold';
  font-weight: normal;
}
/* navigation */
body{
  background-color: #e2f5e4;
}
.navbar{
  padding: 0px;
  background-color: #343434;
  font-weight: bold;
}
.navbar-container{
  padding: 0px;
}
.col-6:hover{
  background-color: #3454d1;
}
.navbar-container a{
  color: #e2f5e4;
}
.navbar-container a:hover{
  color: #e2f5e4;
  text-decoration: none;
}
.navbar-toggler{
  border: none;
  color: #e2f5e4 !important;
  height: 38px;
  border-radius: 0px;
  padding: 8px 12px 8px 12px;
}
.sarvesh-home{
  font-size: 20px;
  background-color: #343434;
  padding: 8px 12px 8px 12px;
  color: #e2f5e4;
  height: 100%;
}
.nav-item{
  color: #e2f5e4;
  font-size: 20px;
}
.nav-item:hover{
  background-color: #3454d1;
}
.intro-page{
  padding: 0px;
  margin: 0px;
}
.main-text{
  background-color: #343434;
  margin: 16px;
  margin-bottom: 5px;
  padding: 15px;
}
.main-text span{
  color: #e2f5e4;
  font-weight: bold;
  line-height: 1.25em;
}
.side-text{
  margin: 16px;
  margin-top: 16px;
  padding: 0px;
  font-family: monospace;
  font-size: 18px;
}
.side-text a{
  text-decoration: underline;
  color: #343434;
  line-height: 0.5rem;
  font-family: monospace;
}
@media (max-width: 575.98px) {
  .main-text{
    font-size: 22px;
  }
  .side-text{
    margin-top: 0px;
    padding: 0px;
  }
}